<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
<link rel="stylesheet" href="app.css">
<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
<script src="directive.js"></script>
</head>
<body ng-controller="ProductListCtrl as main">

<h1>Product List</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>SKU</th>
            <th>Price</th>
        </tr>
    </thead>
     <tr ng-repeat = 'product in main.products' ng-class="{'selected':$index == main.selectedIndex}">
         <td>{{product.Name}}</td>
         <td>{{product.SKU}}</td>
         <td>{{product.Price | currency}}</td>
         <td><button ng-click="main.edit($index)">edit</button></td>
         <td><button ng-click="main.remove($index)">delete</button></td>
     </tr>
</table>

<br><br><br>
<form name="inputform">
Title:<input type="text" name="Name" ng-model="main.Name" required/>
<span class="error" ng-show="inputform.Name.$dirty && inputform.Name.$error.required">Name is required</span><br>
SKU:<input type="text" name="SKU" ng-model="main.SKU" index=main.selectedIndex items=main.products required unique-field />
<span class="error" ng-show="inputform.SKU.$dirty && inputform.SKU.$error.required">SKU is required</span>
<span class="error" ng-show="inputform.SKU.$error.unique">SKU needs to be unique</span><br>
Price:<input type="text" name="Price" ng-model="main.Price" required ng-pattern="/^\d+\.?\d*$/"/>
<span class="error" ng-show="inputform.Price.$dirty && inputform.Price.$error.required">Price is required</span><br>
<span class="error" ng-show="inputform.Price.$dirty && inputform.Price.$error.pattern">Price must be positive number</span><br>
<button ng-click="main.add()" ng-disabled=inputform.$invalid ng-hide="main.editing" >Add</button>
<button ng-click="main.update(main.selectedIndex)" ng-disabled=inputform.$invalid ng-show="main.editing" >Update</button>
</form>

<br><br><br>
<button ng-click="main.export()">Export</button>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
</body>
</html>
