<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
</head>
<body ng-controller="ProductListCtrl as main">

<h1>Product List</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>SKU</th>
            <th>Price</th>
        </tr>
    </thead>
     <tr ng-repeat = 'product in main.products'>
         <td>{{product.Title}}</td>
         <td>{{product.SKU}}</td>
         <td>{{product.Price}}</td>
         <td><button ng-click="main.edit($index)">edit</button></td>
         <td><button ng-click="main.remove($index)">delete</button></td>
     </tr>
</table>

<br><br><br>
<form name="inputForm">
Title:<input type="text" ng-model=main.Title required/><br>
SKU:<input type="text" ng-model=main.SKU required/><br>
Price:<input type="text" ng-model=main.Price required/><br>
<button ng-click="main.add()" ng-disabled=inputForm.$invalid ng-hide=main.editing >Add</button>
<button ng-click="main.update(main.currentIndex)" ng-disabled=inputForm.$invalid ng-show=main.editing >Update</button>
</form>

<br><br><br>
<button ng-click="main.export()">Export</button>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="controller.js"></script>
</body>
</html>
